# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: CI

on: [push]

jobs:
  check_dawn:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: "shopify/dawn"
          path: "./dawn"

      - name: Theme Check
        uses: ./
        id: theme-check-action
        with:
          flags: '--fail-level crash'
          theme_root: './dawn'

  check_dawn_with_flags:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: "shopify/dawn"
          path: "./dawn"

      - name: Theme Check
        uses: ./
        id: theme-check-action
        with:
          theme_root: './dawn'
          flags: '--fail-level crash'

  check_dawn_with_version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: "shopify/dawn"
          path: "./dawn"
          ref: 'v6.0.0'

      - name: Theme Check
        uses: ./
        id: theme-check-action
        with:
          theme_root: './dawn'
          flags: '--fail-level crash'
          version: '3.50.0'
